In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("fts_requirements_funding_globalcluster_lka.csv")
df = df[1:].copy()
# Skip the first row

In [3]:
df.head()

,countryCode,id,name,code,startDate,endDate,year,clusterCode,cluster,requirements,funding,percentFunded
1,LKA,1107,Sri Lanka Multi-Dimensional Crisis Humanitaria...,OLKA22,2022-06-09,2022-12-31,2022,26512,Agriculture,23263980,34089367,147
2,LKA,1107,Sri Lanka Multi-Dimensional Crisis Humanitaria...,OLKA22,2022-06-09,2022-12-31,2022,3,Education,4986336,212501,4
3,LKA,1107,Sri Lanka Multi-Dimensional Crisis Humanitaria...,OLKA22,2022-06-09,2022-12-31,2022,6,Food Security,76536471,48656656,64
4,LKA,1107,Sri Lanka Multi-Dimensional Crisis Humanitaria...,OLKA22,2022-06-09,2022-12-31,2022,7,Health,9650000,3935345,41
5,LKA,1107,Sri Lanka Multi-Dimensional Crisis Humanitaria...,OLKA22,2022-06-09,2022-12-31,2022,26479,Multi-sector,NaN,1000000,NaN

In [4]:
df.info() #checking for data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 1 to 120
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   countryCode    120 non-null    object
 1   id             120 non-null    object
 2   name           120 non-null    object
 3   code           120 non-null    object
 4   startDate      120 non-null    object
 5   endDate        120 non-null    object
 6   year           120 non-null    object
 7   clusterCode    100 non-null    object
 8   cluster        120 non-null    object
 9   requirements   96 non-null     object
 10  funding        106 non-null    object
 11  percentFunded  85 non-null     object
dtypes: object(12)
memory usage: 11.4+ KB

In [5]:
#Turning required variables into proper data type

df['requirements'] = pd.to_numeric(df['requirements'], errors='coerce')
df['funding'] = pd.to_numeric(df['funding'], errors='coerce')
df['percentFunded'] = pd.to_numeric(df['percentFunded'], errors='coerce')

# Converting date columns
df['startDate'] = pd.to_datetime(df['startDate'], errors='coerce')
df['endDate'] = pd.to_datetime(df['endDate'], errors='coerce')

In [6]:
df.dtypes #checking whether they got corrected

countryCode              object
id                       object
name                     object
code                     object
startDate        datetime64[ns]
endDate          datetime64[ns]
year                     object
clusterCode              object
cluster                  object
requirements            float64
funding                 float64
percentFunded           float64
dtype: object

In [7]:
df.isnull().sum() #checking full null values

countryCode       0
id                0
name              0
code              0
startDate         0
endDate           0
year              0
clusterCode      20
cluster           0
requirements     24
funding          14
percentFunded    35
dtype: int64

In [8]:
# Fill missing requirements per cluster
df['requirements'] = df.groupby('cluster')['requirements'].transform(
    lambda x: x.fillna(x.median())
)

In [9]:
df.isnull().sum() # only 4 got filled, this means remaining 20 missing values belong to clusters where all requirements are missing

countryCode       0
id                0
name              0
code              0
startDate         0
endDate           0
year              0
clusterCode      20
cluster           0
requirements     20
funding          14
percentFunded    35
dtype: int64

In [10]:
#So now filling the remaining missing 'requirements' with global median
df['requirements'] = df['requirements'].fillna(df['requirements'].median())

In [11]:
df.isnull().sum() # no more null in 'requirements'

countryCode       0
id                0
name              0
code              0
startDate         0
endDate           0
year              0
clusterCode      20
cluster           0
requirements      0
funding          14
percentFunded    35
dtype: int64

In [12]:
#using the same methods for 'funding'

In [13]:
df['funding'] = df.groupby('cluster')['funding'].transform(lambda x: x.fillna(x.median()))

In [14]:
df.isnull().sum()

countryCode       0
id                0
name              0
code              0
startDate         0
endDate           0
year              0
clusterCode      20
cluster           0
requirements      0
funding           0
percentFunded    35
dtype: int64

In [15]:
df

,countryCode,id,name,code,startDate,endDate,year,clusterCode,cluster,requirements,funding,percentFunded
1,LKA,1107,Sri Lanka Multi-Dimensional Crisis Humanitaria...,OLKA22,2022-06-09,2022-12-31,2022,26512,Agriculture,23263980.0,34089367.0,147.0
2,LKA,1107,Sri Lanka Multi-Dimensional Crisis Humanitaria...,OLKA22,2022-06-09,2022-12-31,2022,3,Education,4986336.0,212501.0,4.0
3,LKA,1107,Sri Lanka Multi-Dimensional Crisis Humanitaria...,OLKA22,2022-06-09,2022-12-31,2022,6,Food Security,76536471.0,48656656.0,64.0
4,LKA,1107,Sri Lanka Multi-Dimensional Crisis Humanitaria...,OLKA22,2022-06-09,2022-12-31,2022,7,Health,9650000.0,3935345.0,41.0
5,LKA,1107,Sri Lanka Multi-Dimensional Crisis Humanitaria...,OLKA22,2022-06-09,2022-12-31,2022,26479,Multi-sector,5291963.0,1000000.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
116,LKA,101,Joint Strategy - Returned IDPs in Sri Lanka 2002,OLKA02,2002-01-01,2002-12-31,2002,10,Protection,1890000.0,410000.0,22.0
117,LKA,101,Joint Strategy - Returned IDPs in Sri Lanka 2002,OLKA02,2002-01-01,2002-12-31,2002,15,Protection - Mine Action,2132000.0,7450726.0,NaN
118,LKA,101,Joint Strategy - Returned IDPs in Sri Lanka 2002,OLKA02,2002-01-01,2002-12-31,2002,11,Water Sanitation Hygiene,1490000.0,3087417.0,NaN
119,LKA,101,Joint Strategy - Returned IDPs in Sri Lanka 2002,OLKA02,2002-01-01,2002-12-31,2002,NaN,Not specified,8354465.0,3594525.0,NaN
120,LKA,101,Joint Strategy - Returned IDPs in Sri Lanka 2002,OLKA02,2002-01-01,2002-12-31,2002,NaN,Multiple clusters/sectors (shared),8354465.0,0.0,NaN

In [16]:
#Dropping rows where clustercode is Null as the sector names were not defined

df = df.dropna(subset=['clusterCode'])

In [17]:
df

,countryCode,id,name,code,startDate,endDate,year,clusterCode,cluster,requirements,funding,percentFunded
1,LKA,1107,Sri Lanka Multi-Dimensional Crisis Humanitaria...,OLKA22,2022-06-09,2022-12-31,2022,26512,Agriculture,23263980.0,34089367.0,147.0
2,LKA,1107,Sri Lanka Multi-Dimensional Crisis Humanitaria...,OLKA22,2022-06-09,2022-12-31,2022,3,Education,4986336.0,212501.0,4.0
3,LKA,1107,Sri Lanka Multi-Dimensional Crisis Humanitaria...,OLKA22,2022-06-09,2022-12-31,2022,6,Food Security,76536471.0,48656656.0,64.0
4,LKA,1107,Sri Lanka Multi-Dimensional Crisis Humanitaria...,OLKA22,2022-06-09,2022-12-31,2022,7,Health,9650000.0,3935345.0,41.0
5,LKA,1107,Sri Lanka Multi-Dimensional Crisis Humanitaria...,OLKA22,2022-06-09,2022-12-31,2022,26479,Multi-sector,5291963.0,1000000.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
114,LKA,101,Joint Strategy - Returned IDPs in Sri Lanka 2002,OLKA02,2002-01-01,2002-12-31,2002,6,Food Security,6528000.0,48656656.0,NaN
115,LKA,101,Joint Strategy - Returned IDPs in Sri Lanka 2002,OLKA02,2002-01-01,2002-12-31,2002,7,Health,3440000.0,1806142.0,NaN
116,LKA,101,Joint Strategy - Returned IDPs in Sri Lanka 2002,OLKA02,2002-01-01,2002-12-31,2002,10,Protection,1890000.0,410000.0,22.0
117,LKA,101,Joint Strategy - Returned IDPs in Sri Lanka 2002,OLKA02,2002-01-01,2002-12-31,2002,15,Protection - Mine Action,2132000.0,7450726.0,NaN
118,LKA,101,Joint Strategy - Returned IDPs in Sri Lanka 2002,OLKA02,2002-01-01,2002-12-31,2002,11,Water Sanitation Hygiene,1490000.0,3087417.0,NaN

In [18]:
# Recalculate percentFunded, imputating all the null values
df.loc[:, 'percentFunded'] = (df['funding'] / df['requirements']) * 100

In [19]:
df

,countryCode,id,name,code,startDate,endDate,year,clusterCode,cluster,requirements,funding,percentFunded
1,LKA,1107,Sri Lanka Multi-Dimensional Crisis Humanitaria...,OLKA22,2022-06-09,2022-12-31,2022,26512,Agriculture,23263980.0,34089367.0,146.532825
2,LKA,1107,Sri Lanka Multi-Dimensional Crisis Humanitaria...,OLKA22,2022-06-09,2022-12-31,2022,3,Education,4986336.0,212501.0,4.261666
3,LKA,1107,Sri Lanka Multi-Dimensional Crisis Humanitaria...,OLKA22,2022-06-09,2022-12-31,2022,6,Food Security,76536471.0,48656656.0,63.573164
4,LKA,1107,Sri Lanka Multi-Dimensional Crisis Humanitaria...,OLKA22,2022-06-09,2022-12-31,2022,7,Health,9650000.0,3935345.0,40.780777
5,LKA,1107,Sri Lanka Multi-Dimensional Crisis Humanitaria...,OLKA22,2022-06-09,2022-12-31,2022,26479,Multi-sector,5291963.0,1000000.0,18.896580
...,...,...,...,...,...,...,...,...,...,...,...,...
114,LKA,101,Joint Strategy - Returned IDPs in Sri Lanka 2002,OLKA02,2002-01-01,2002-12-31,2002,6,Food Security,6528000.0,48656656.0,745.353186
115,LKA,101,Joint Strategy - Returned IDPs in Sri Lanka 2002,OLKA02,2002-01-01,2002-12-31,2002,7,Health,3440000.0,1806142.0,52.504128
116,LKA,101,Joint Strategy - Returned IDPs in Sri Lanka 2002,OLKA02,2002-01-01,2002-12-31,2002,10,Protection,1890000.0,410000.0,21.693122
117,LKA,101,Joint Strategy - Returned IDPs in Sri Lanka 2002,OLKA02,2002-01-01,2002-12-31,2002,15,Protection - Mine Action,2132000.0,7450726.0,349.471201
118,LKA,101,Joint Strategy - Returned IDPs in Sri Lanka 2002,OLKA02,2002-01-01,2002-12-31,2002,11,Water Sanitation Hygiene,1490000.0,3087417.0,207.209195

In [20]:
df.loc[:, 'percentFunded'] = df['percentFunded'].round(1)

In [21]:
df

,countryCode,id,name,code,startDate,endDate,year,clusterCode,cluster,requirements,funding,percentFunded
1,LKA,1107,Sri Lanka Multi-Dimensional Crisis Humanitaria...,OLKA22,2022-06-09,2022-12-31,2022,26512,Agriculture,23263980.0,34089367.0,146.5
2,LKA,1107,Sri Lanka Multi-Dimensional Crisis Humanitaria...,OLKA22,2022-06-09,2022-12-31,2022,3,Education,4986336.0,212501.0,4.3
3,LKA,1107,Sri Lanka Multi-Dimensional Crisis Humanitaria...,OLKA22,2022-06-09,2022-12-31,2022,6,Food Security,76536471.0,48656656.0,63.6
4,LKA,1107,Sri Lanka Multi-Dimensional Crisis Humanitaria...,OLKA22,2022-06-09,2022-12-31,2022,7,Health,9650000.0,3935345.0,40.8
5,LKA,1107,Sri Lanka Multi-Dimensional Crisis Humanitaria...,OLKA22,2022-06-09,2022-12-31,2022,26479,Multi-sector,5291963.0,1000000.0,18.9
...,...,...,...,...,...,...,...,...,...,...,...,...
114,LKA,101,Joint Strategy - Returned IDPs in Sri Lanka 2002,OLKA02,2002-01-01,2002-12-31,2002,6,Food Security,6528000.0,48656656.0,745.4
115,LKA,101,Joint Strategy - Returned IDPs in Sri Lanka 2002,OLKA02,2002-01-01,2002-12-31,2002,7,Health,3440000.0,1806142.0,52.5
116,LKA,101,Joint Strategy - Returned IDPs in Sri Lanka 2002,OLKA02,2002-01-01,2002-12-31,2002,10,Protection,1890000.0,410000.0,21.7
117,LKA,101,Joint Strategy - Returned IDPs in Sri Lanka 2002,OLKA02,2002-01-01,2002-12-31,2002,15,Protection - Mine Action,2132000.0,7450726.0,349.5
118,LKA,101,Joint Strategy - Returned IDPs in Sri Lanka 2002,OLKA02,2002-01-01,2002-12-31,2002,11,Water Sanitation Hygiene,1490000.0,3087417.0,207.2

In [22]:
df.isnull().sum() # No null values are left

countryCode      0
id               0
name             0
code             0
startDate        0
endDate          0
year             0
clusterCode      0
cluster          0
requirements     0
funding          0
percentFunded    0
dtype: int64

In [23]:
#Renaming columns for increase readability

In [24]:
df.rename(columns={
    'requirements': 'Required_Funding_USD',
    'funding': 'Received_Funding_USD',
    'percentFunded': 'Funding_Percent',
    'cluster': 'Sector'
}, inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_24892\2212776096.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={

In [50]:
df

,countryCode,id,name,code,startDate,endDate,year,clusterCode,Sector,Required_Funding_USD,Received_Funding_USD,Funding_Percent
1,LKA,1107,Sri Lanka Multi-Dimensional Crisis Humanitaria...,OLKA22,2022-06-09,2022-12-31,2022,26512,Agriculture,23263980.0,34089367.0,146.5
2,LKA,1107,Sri Lanka Multi-Dimensional Crisis Humanitaria...,OLKA22,2022-06-09,2022-12-31,2022,3,Education,4986336.0,212501.0,4.3
3,LKA,1107,Sri Lanka Multi-Dimensional Crisis Humanitaria...,OLKA22,2022-06-09,2022-12-31,2022,6,Food Security,76536471.0,48656656.0,63.6
4,LKA,1107,Sri Lanka Multi-Dimensional Crisis Humanitaria...,OLKA22,2022-06-09,2022-12-31,2022,7,Health,9650000.0,3935345.0,40.8
5,LKA,1107,Sri Lanka Multi-Dimensional Crisis Humanitaria...,OLKA22,2022-06-09,2022-12-31,2022,26479,Multi-sector,5291963.0,1000000.0,18.9
...,...,...,...,...,...,...,...,...,...,...,...,...
114,LKA,101,Joint Strategy - Returned IDPs in Sri Lanka 2002,OLKA02,2002-01-01,2002-12-31,2002,6,Food Security,6528000.0,48656656.0,745.4
115,LKA,101,Joint Strategy - Returned IDPs in Sri Lanka 2002,OLKA02,2002-01-01,2002-12-31,2002,7,Health,3440000.0,1806142.0,52.5
116,LKA,101,Joint Strategy - Returned IDPs in Sri Lanka 2002,OLKA02,2002-01-01,2002-12-31,2002,10,Protection,1890000.0,410000.0,21.7
117,LKA,101,Joint Strategy - Returned IDPs in Sri Lanka 2002,OLKA02,2002-01-01,2002-12-31,2002,15,Protection - Mine Action,2132000.0,7450726.0,349.5
118,LKA,101,Joint Strategy - Returned IDPs in Sri Lanka 2002,OLKA02,2002-01-01,2002-12-31,2002,11,Water Sanitation Hygiene,1490000.0,3087417.0,207.2

In [52]:
df.to_csv("cleaned_funding_data.csv", index=False)